<!DOCTYPE html>
<html>
    <body>
        <p>Hello!  This is Chat Agent.</p>
        <p>First of all, what type of holiday are you looking for?</p>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <label><p>Please choose from 'lazy' or 'active' in the form below:</p></label>
            {{forms.lazy_form.as_p}}
            <label><p>Thinking about the climate, Please choose from 'cold', 'mild' or 'hot' in the form below:</p></label>
            {{forms.climate_form.as_p}}
            <label><p>Finally, think about the type of place you want to go to.  Please choose from 'city', 'mountain' or 'sea':</p></label>
            {{forms.location_form.as_p}}
            <input type="submit" value="submit answers">
        </form>
        <br/>
        {% if default %}
            <h4>{{default}}</h4>
        {% else %}
            <h1>Your holiday recommendations</h1>
            <table>
            {% for result in results %}
                <tr>
                    <td><h2>{{result.city}}</h2></td>
                    <td><p>({{result.country}})</p></td>
                    <td><h2>£ {{result.price}} per night</h2></td>
                    <td><p><strong>Hotel name:</strong> {{result.hotel}}</p></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </body>
</html>